@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
/* @import 'tw-animate-css'; */

@theme {
  --font-space-grotesk: 'Space Grotesk', 'Space Grotesk Placeholder', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;

  --color-background: #f8f3ef;
  --color-background-alt: #f9f7f5;
  --color-icon: #00000033;

  --color-primary: #191919;
  --color-secondary: #4c4c4c;
  --color-tertiary: #9f9c99;

  --color-inverted: #ffffff;
  --color-accent: #bb875d;
  --color-muted: #cbc7c4;

  --color-border: #eeeeee;

  --tracking-normal: 0.04em; /*0.64px*/
  --tracking-wide: 0.02em; /*0.32px*/
  --tracking-wider: 0.01em; /*0.16px*/
  --tracking-ultrawide: 0.2em; /*3.2px*/

  --text-2.5xl: 1.75rem; /*28px*/
  --text-3.5xl: 2rem; /*32px*/
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-space-grotesk font-bold;
  }
  p {
    @apply font-plus-jakarta-sans;
  }
  :root {
    background-color: var(--color-background);
  }
}
